
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMessageLabel" translate="riverApp.message.home.createOrEditLabel">Create or edit a Message</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.message.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.message.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="riverApp.message.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.message.title"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="riverApp.message.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.message.content"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="riverApp.message.createDateTime" for="field_createDateTime">Create Date Time</label>
                <div class="input-group">
                    <input id="field_createDateTime" type="text" class="form-control" name="createDateTime" datetime-picker="{{dateformat}}" ng-model="vm.message.createDateTime" is-open="vm.datePickerOpenStatus.createDateTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="riverApp.message.inspector" for="field_inspector">Inspector</label>
            <select class="form-control" id="field_inspector" name="inspector" ng-model="vm.message.inspector" ng-options="inspector as inspector.userName for inspector in vm.inspectors track by inspector.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
